<title>Search User</title>
<form action="/search">
    <label for="dataType">Search By: </label>
    <select name="dataType" id="dataType">
        <option value="firstName">First Name</option>
        <option value="lastName">Last Name</option>
        <option value="name">Name</option>
        <option value="email">Email</option>
    </select>
    <label for="search">Search User</label>
    <input type="text" name="searchValue" id="search">
    <button type="submit">Search</button>
</form>